.section1 {
    background-color: #EBE7E0;
    padding: 25px 0 50px;
}

.section1 .content {
    align-items: center;
    justify-content: space-between;
}

.section1 .main_img {
    margin: 0 -30px 0 0;
}

.section1 .text_box {
    width: 705px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section1 .title {
    font-size: 15px;
    font-family: HelveticaNeueLTPro-medium;
    text-transform: uppercase;
}

.section1 h1 {
    font-size: 50px;
    line-height: 53px;
    font-family: HelveticaNeueLTPro-black;
    text-transform: uppercase;
    margin: 13px 0 13px;
}

.section1 .text {
    font-size: 23px;
    font-family: HelveticaNeueLTPro-light;
}

.section1 .purple_btn {
    background-color: #46436F;
    border-radius: 9px;
    display: grid;
    height: 68px;
    color: white;
    font-size: 20px;
    font-family: HelveticaNeueLTPro-bold;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 38px 0 0;
    padding: 25px 50px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    line-height: 22px;
    text-align: center;
}


.section2 {
    padding: 0;
    background-color: #F3F2F2;
}

.section2 .content {
    max-width: 1920px;
}

.section2 .clm_box {
    padding: 54px 0;
}

.section2 .clm_box:first-of-type {
    border-right: 1px solid #BEBEBE;
}

.section2 .clm_box:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-height: 479px;
}

.section2 .text {
    font-size: 43px;
    letter-spacing: 2.15px;
    font-family: HelveticaNeueLTPro-black;
    margin: 12px 0 0;
}

.section2 img {
    margin: 0 0 0 145px;
}

.section2 .text span {
    font-size: 45px;
}

.section2 h1 {
    font-size: 57px;
    font-family: HelveticaNeueLTPro-black;
    padding: 0 0 0 9.3em;
}

.section2 input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.section2 .row_box {
    display: flex;
    width: 1255px;
}

.section2 .row_box .col {
    flex: 1;
}

/* Accordion styles */
.section2 .tabs {
    overflow: hidden;
}

.section2 .tab {
    width: 100%;
    color: #303030;
    font-size: 23px;
    letter-spacing: 1.15px;
    font-family: HelveticaNeueLTPro-medium2;
    overflow: hidden;
    border-bottom: 1px solid #BEBEBE;
    padding: 0 30px 0 9.3em;
}

.section2 .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueLTPro-medium2;
}

.section2 .tab-label::after {
    content: "";
    width: 15px;
    height: 11px;
    text-align: center;
    transition: all 0.35s;
    color: #707070;
    background-image: url(../assets/arrow_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0px;
}

.section2 .tab-content {
    max-height: 0;
    padding: 0;
    transition: all 0.35s;
    font-family: HelveticaNeueLTPro-light;
}

.section2 input:checked + .tab-label::after {
    transform: rotate(90deg);
}

.section2 input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 0 0 15px;
}

footer {
    display: none;
}

@media all and (max-width:1920px) {
    .section2 .tab {
        padding: 0px 30px 0 11.2vw;
    }

    .section2 h1 {
        padding: 0 0 0 11.2vw;
    }

    .section2 .clm_box {
        width: 66%;
    }

    .section2 .clm_box:last-of-type {
        width: auto;
    }

    .section2 .row_box {
        width: 100%;
    }
}

@media all and (max-width:1600px) {

    .section1 img {
        max-width: 52.4%;
    }


    .section2 .content {
        padding: 0;
    }
}

@media all and (max-width:1460px) {
    .section1 img {
        max-width: 50%;
    }
}

@media all and (max-width:1300px) {
    .section2 .tab {
        padding: 0px 30px 0 40px;
    }

    .section2 h1 {
        padding: 0 0 0 40px;
    }

    .section2 .clm_box:last-of-type {
        width: 44%;
    }

    .section2 img {
        margin: 0 0 0 109px;
    }

}

@media all and (max-width:1200px) {
    .section2 .clm_box:last-of-type {
        width: 31%;
    }

    .section2 img {
        margin: 0 0 0 80px;
        max-width: 74%;
    }

    .section1 .main_img {
        margin: 0;
    }
}

@media all and (max-width:1024px) {
    .section2 .content {
        flex-direction: column;
    }

    .section2 .clm_box:first-of-type {
        width: 100%;
        border: none;
    }

    .section2 img {
        margin: 0 0 0 145px;
        max-width: inherit;
    }
}

@media all and (max-width:900px) {
    .section1 .content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .section1 .main_img {
        max-width: 100%;
    }

    .section1 .text_box {
        width: 100%;
    }

    .section1 {
        padding: 0px 0 23px;
        overflow-x: hidden;
    }

}

@media all and (max-width:600px) {
    .section1 .main_img {
        max-width: 107%;
        margin: 0 -12px 0 0;
    }

    .section1 .title {
        font-size: 13px;
    }

    .section1 h1 {
        font-size: 28px;
        line-height: 30px;
        margin: 11px 0 7px;
    }

    .section1 .text {
        font-size: 18px;
        line-height: 27px;
    }

    .section1 .purple_btn {
        width: 100%;
        margin: 23px 0 0;
        font-size: 20px;
    }

    .section2 .clm_box:first-of-type {
        padding: 39px 0;
    }

    .section2 h1 {
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 41px;
    }

    .section2 .tab {
        padding: 0px 21px;
        font-size: 14px;
        font-family: HelveticaNeueLTPro-medium;
    }

    .section2 .tab-label {
        padding: 24px 0;
    }

    .section2 .tab-label::after {
        width: 6px;
        height: 6px;
        right: -7px;
        background-image: url(../assets/arrow_icon_mobile.png);
    }

    .section2 .clm_box:last-of-type {
        width: 100%;
        padding: 0 21px;
        margin: 0;
    }

    .section2 img {
        margin: 0 0 0 78px;
        max-width: 235px;
    }

    .section2 .text {
        font-size: 32px;
        letter-spacing: 1.6px;
        margin: 8px 0 0;
    }

    .section2 .text span {
        font-size: 34px;
        letter-spacing: 1.7px;
    }

    footer {
        display: flex;
    }

    .social_box {
        margin: 23px 0 15px;
    }

}
